
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

a {
  background-color: transparent;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border: 0;
}

button {
  color: inherit;
  font: inherit;
  margin: 0; 
}

button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
 
button,
html input[type="button"]{
  -webkit-appearance: button; 
  cursor: pointer; 
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}